body, html {
    height: 100%;
    margin: 0;
}

/*
font-family: 'Kaushan Script', cursive;
font-family: 'Istok Web', sans-serif;
font-family: 'Monda', sans-serif;
*/
.container{text-align: center;}
h1{font-variant: small-caps;text-align: center;font-family: 'Monda', sans-serif;color: rgb(5, 33, 42);}
h2{font-family: 'Istok Web', sans-serif;}
.col4s{  height: 500px;
  background-color: black;
  background-image: url('pics/philcar1.png');
  background-size: cover;}
.coverimg{
  height: 600px;
  background-color: black;
  background-image: url('pics/landing1.png');
  background-size: cover;
}
#land{padding-bottom: 150px;}
.pad{display: hidden;}
